<% content_for :title, "Ninja, coming soon..." %>
<!-- banner -->
<div class="banner-w3">
	<div class="banner-info-w3l">
		<h1>Ninja<span>Under Construction</span></h1>
			<img src="<%= asset_path('icon.png') %>">
			<h2>Coming soon...or not.</h2>
		<div id="countdown"></div>
			<p id="note"></p>
		<div class="copyright">
			<p>© Ninja | Design by <a href="http://w3layouts.com">W3layouts</a></p>
		</div>
	</div>
</div>